@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Inter Tight';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Tight'), url('https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VXZOA.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-weight: 500;
  font-style: normal;
  src: local('Inter Tight'), url('https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VXZOA.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-weight: 700;
  font-style: normal;
  src: local('Inter Tight'), url('https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VXZOA.ttf') format('truetype');
}

